<div class="container-sm control mt-3">
	<ngb-carousel>
		<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
						<img src="assets/presentacion.png" alt="Presentacion" class="rounded">
				</div>
				<div class="carousel-caption">
				</div>
		</ng-template>
		<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
						<img src="assets/categorias.png" alt="Categorias">
				</div>
				<div class="carousel-caption">
				</div>
		</ng-template>
		<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
						<img src="assets/random.png" alt="Random">
				</div>
				<div class="carousel-caption">
				</div>
		</ng-template>
	</ngb-carousel>
</div>
