<div class="container col-4">
  <form class="text-center" action="/signin" method="post" enctype="multipart/form-data">
    <div class="mb-4">
      <h2 class="text-muted">Sign in</h2>
      <hr>
    </div>
	<div class="form-group px-5">
      <label class="col-12" for="user_sign">User</label>
      <input type="text" class="form-control col-12" id="user_sign" name="user_sign">
    </div>
    <div class="form-group px-5">
      <label class="col-12" for="email_sign">Email</label>
      <input type="email" class="form-control col-12" id="email_sign" name="email_sign">
    </div>
    <div class="form-group px-5">
      <label class="col-12" for="pass_sign">Password</label>
      <input type="password" class="form-control col-12" id="pass_sign" name="pass_sign">
    </div>
    <div class="form-group px-5">
      <label class="col-12" for="pass_sign_conf">Confirm Password</label>
      <input type="password" class="form-control col-12" id="pass_sign_conf" name="pass_sign_conf"> 
    </div>
	<button type="submit" class="btn btn-warning border-dark mb-3">Sign in</button>
  </form>
</div>
