<nav class="mb-4" id="menu" name="menu">
		<ul class="nav nav-tabs border-primary">
				<li class="nav-item col-4 text-center">
					<a class="nav-link px-5 bg-light border-primary" id="home" name="home" routerLink="/">HOME</a>
				</li>
	  			<li class="nav-item col-4 text-center" >
	    				<a class="nav-link px-5 bg-light border-primary" id="buy" name="buy" routerLink="/buy">BUY</a>
	  			</li>
	  			<li class="nav-item col-4 text-center">
	    				<a class="nav-link px-5 bg-light border-primary" id="sc" name="sc" routerLink="/sc">SOURCE CODE</a>
	  			</li>
		</ul>
</nav>
<router-outlet></router-outlet>

